#content{
    margin: 0 20% 0 20%;
}

aside{
    float: left;
    width: 15%;
    height: 100vh;
    background: #b3ffa3;
}
aside ul{
    list-style: none;
    padding: 0;
}
aside li{
    margin: 10px 10px;
}
aside a{
    width: 100%;
}

form {
    margin: 20px 0;
    text-align: center;
}

form button{
    width: 100%;
}

form .error{
    margin: 20px 0;
}