#content{
    margin: 0 20% 0 20%;
}

aside{
    float: left;
    width: 15%;
    height: 100vh;
    background: #b3ffa3;
}

aside ul{
    list-style: none;
    padding: 0;
}
aside li{
    margin: 10px 10px;
}
aside a{
    width: 100%;
}

form {
    margin: 20px 0;
}

form input {
    margin: 15px 0;
}

.form-group{
    margin-top: 0px;
}

form button{
    width: 100%;
}

.book-card a{
    margin: 10px 0;
}

#pagination{
    font-size: large;
}

#pagination .btn{
    padding: 0.1em 0.4em;
}

#pagination #page-count{

}

#pagination #page-amount{
    float: right;
}