{% extends 'base_library.html' %}
{% block title %}Ваши заказы{% endblock %}
{% block content %}
    <h1>Ваши заказы</h1>
    {% for order in object_list %}
            <h3>Заказ №<strong>{{ order.id }}</strong></h3>
            <p>
                Дата: {{ order.created.date }}<br>
                Статус:
                {% if order.paid %}
                    <span class="text-success">Оплачен</span>
                {% else %}
                    <span class="text-danger">Не оплачен</span>
                {% endif %}
            </p>
            {% include 'orders/order_detail.html' %}
    {% empty %}
        <h3>У Вас еще нет заказов...</h3>
    {% endfor %}
{% endblock %}