{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}Библиотека{% endblock %}</title>

    <script src="{% static 'library\bootstrap-5.2.2-dist\js\bootstrap.bundle.js' %}"></script>
    <link rel="stylesheet" href="{% static 'library\bootstrap-5.2.2-dist\css\bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'library/style.css' %}">
</head>
<body>

<aside>
    <ul>
        <li><a class="btn btn-secondary" href="{% url 'book_list' %}">Библиотека</a></li>
        <li><a class="btn btn-secondary" href="{% url 'cart_detail' %}">Корзина</a></li>
        {% if request.session.role > 0 %}
            <li><a class="btn btn-secondary" href="{% url 'order_list' %}" id="id_my_orders">Мои заказы</a></li>
            <li><a class="btn btn-secondary" href="{% url 'book_create' %}">Добавить книгу</a></li>
            <li>
                <div class="alert alert-secondary text-center">
                    <p>Вы вошли как: <b>{{ request.session.username }}</b></p>
                    <div class="btn-group-vertical">
                        <a class="btn btn-secondary" href="{% url 'user_update' request.session.user_id %}">Личный кабинет</a>
                        <a class="btn btn-secondary" href="{% url 'logout' %}">Выйти</a>
                    </div>
                </div>
            </li>
        {% else %}
            <li><a class="btn btn-secondary" href="{% url 'register' %}">Регистрация</a></li>
            <li><a class="btn btn-secondary" href="{% url 'login'  %}">Авторизация</a></li>
        {% endif %}
    </ul>
</aside>

<div id="content">
    {% block content %}На этой странице еще нет контента...{% endblock %}
    {% block javascript %}{% endblock %}
</div>

</body>
</html>